@use "../constants/colors" as c;
@use "../mixins/text-styles" as t;
@use "../mixins/flexbox" as f;

.gnb-nav {
  $padding: 8px;

  &-list {
    @include f.flexbox(start);

    margin-left: -#{$padding};
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: c.$blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include t.text-style(18, c.$primary);

      display: block;
      padding: 0 $padding;
      font-weight: 700;
    }
  }
}
