@use "../constants/colors" as c;
@use "../mixins/positions" as p;
@use "../mixins/flexbox" as f;
@use "../mixins/responsive" as r;

.gnb-icon-button {
  $badge-size: 16px;

  @include f.flexbox;

  position: relative;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: c.$secondary;
  border-radius: 50%;
  transition:
    color 200ms ease-in-out,
    background-color 200ms ease-in-out;

  &.is-menu {
    color: c.$blue;

    &:active {
      color: c.$blue-dark;
    }
  }

  &.is-cart {
    position: relative;
    top: 1px;
    right: 1px;
  }

  &:active {
    color: c.$primary;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    min-width: $badge-size;
    height: $badge-size;
    padding: 0 4px;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    color: c.$white;
    text-align: center;
    letter-spacing: -0.01em;
    background-color: c.$red;
    border-radius: $badge-size / 2;
  }

  @include r.responsive(T) {
    &:hover {
      color: c.$white;
      background-color: c.$blue;
    }
  }
}
