@use "../constants/colors" as c;
@use "../mixins/positions" as p;
@use "../mixins/flexbox" as f;
@use "../mixins/responsive" as r;

.gnb {
  position: relative;
  border-bottom: 1px solid c.$border;

  &-wrapper {
    @include f.flexbox(between);

    height: 50px;
  }

  &-right {
    .button-group {
      @include f.flexbox(end);
    }

    .gnb-search-button {
      margin-right: 4px;
    }
  }

  &-icon-button {
    @include f.flexbox;

    width: 32px;
    height: 32px;
    font-size: 24px;
    color: c.$secondary;
  }

  &-menu-button {
    color: c.$blue;
  }

  .logo {
    @include p.pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include r.responsive(T) {
    &-left {
      @include f.flexbox(start);
    }

    &-right {
      @include f.flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }
      }
    }

    &-wrapper {
      height: 80px;
    }

    .logo {
      position: static;
      margin-right: 32px;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include r.responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
